@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}
.top-bar {
  width: 100%;
  height: 92px;
  background-color: #cf2b2b;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  z-index: 1;
}
.top-bar h1 {
  font-family: "Righteous", cursive;
  font-size: 44px;
  color: #ffffff;
}
.top-bar h3 {
  font-family: "Righteous", cursive;
  font-size: 18px;
  color: #ffffff;
}
.botton-bar {
  width: 100%;
  height: 92px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.close-order-off {
  width: 100%;
  height: 61px;
  background-color: #cbcbcb;
  border-radius: 40px;
  border: 1px solid #cbcbcb;
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}
.close-order-on {
  background-color: #32b72f;
}
.container {
  margin: 122px 20px;
  font-family: "Roboto", sans-serif;
}
.container > h2 {
  font-family: "Righteous", cursive;
  font-size: 26px;
  margin-top: 30px;
}
.container h3 {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
}
.container h4 {
  font-size: 15px;
  color: #a6a6a6;
}
.container h5 {
  font-size: 16px;
  color: #000000;
}
.sub-container {
  display: flex;
  overflow-x: scroll;
}
.sub-container > div {
  margin: 15px 15px 30px 0;
}
.box {
  width: 172px;
  height: 216px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.prato-selected,
.bebida-selected,
.sobremesa-selected {
  border: 5px solid #32b72f;
}
.prato-selected ion-icon,
.bebida-selected ion-icon,
.sobremesa-selected ion-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #32b72f;
  font-size: 20px;
  display: initial;
}
.none {
  display: none;
}
.order-confirmation {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
.order-confirmation > div {
  width: 377px;
  height: 353px;
  background-color: #50d074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-confirmation > div > h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.selected-order > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.selected-order > div:last-child {
  font-weight: bold;
}
.send-order {
  width: 329px;
  height: 52px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 1px solid #ffffff;
  color: #50d074;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.cancel-order {
  width: auto;
  height: auto;
  background-color: #50d074;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
